*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
    }
/* fuentes, contenido */
body{
    background-color: antiquewhite;
    display: inline-block;
    margin-left: 100px ;
}
header{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    height: 350px;
    width: 1500px;
    justify-content: center;
    background-image: url(../img/design1_image2.jpg);
    object-fit: cover;
    background-position: 20%;
    
}
nav{
    display: inline;
    margin: 0;
    /* width: fit-content; */
    position: relative;
    bottom: 470px;
    left: 1100px;

}
nav a{
    display: inline-block;
    width:fit-content;
    background-color: #6363eb;
    color: aliceblue;
    margin-bottom: 60px;
    margin-right: 20px;
    font-family: cursive;
    font-size: 24px;
    text-decoration-line: none;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    
}
nav a:hover{
    background-color: #90db1e;
    color: black;
}
/*  nav a:visited {
    background-color: rgb(17, 201, 17);
    color: black;
} */

.title_header{ 
    display: block;
    position: relative;
    bottom: 265px;
    right: 110px;
    text-align: left;
    font-size: 75px;
    font-family: cursive;
    font-style: italic;
    color: #f1da08;
    -webkit-text-stroke-width: 5px ;
    -webkit-text-stroke-color: brown;
    width: fit-content;
    height: 300px;
    border: 0px;
    padding: 10px;
    margin: 20px 100px 0px 100px;
    
}

.title_section{
    background-color: black;
    width: 1500px;
    color: white;
    text-align: center;
    font-family: cursive;
    position: relative;
    bottom: 150px;
    left: 50px;
    justify-content: center;
    
}

article {
    position: relative;
    left: 500px;
    bottom: 100px;
    width: fit-content;
    font-family: cursive;
    font-size: 18px;
}

article h3{
    font-style: italic;
}

article p{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* imagenes */
.img_logo{
    display: inline-block;
    width: 120px;
    object-fit: contain;
    position: relative;
    top: 460px;
    left: 250px;
    z-index: 1;
}
 .img_content{
    visibility: hidden; /*oculto la imagen para respetar el diseño*/
    width: 0px;
    height: 0px;
}