*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
/* fuentes, contenido */
body{
    background-color: antiquewhite;
    display: inline-block;
    width: auto;
    
}
header{
    width: max-content;
    
    background-color: blue;
    display: inline-block;
    background-image: url(../img/design1_image1.jpg);
    object-fit: cover;
    background-position: 20%;
    
    width: fit-content;
    height: 300px;
    border: 10px;
    padding: 10px;
    margin: 20px 100px 20px 100px;
}
nav{
    display: block;
    margin: 0;
    background-color: blueviolet;
    width: fit-content;
    position: relative;
    top: 300px;
}
nav a{
    display: block;
    background-color: aquamarine;
    width:fit-content;
    margin-bottom: 60px;
}
.title_header{ /* añado la imagen como fondo del titulo */
    /* text props. */
    display: inline-block;
    background-color: aquamarine;
    
    top: 20px;
    right: 80px;
    text-align: center;
    font-size: 80px;
    font-family: cursive;
    color: #f1da08;
    -webkit-text-stroke-width: 5px ;
    -webkit-text-stroke-color: brown;
    /* position, imgs, revisar */
    /* background-image: url(../img/design1_image1.jpg);
    object-fit: cover;
    background-position: 20%;
    width: fit-content;
    height: 300px;
    border: 10px;
    padding: 10px;
    margin: 20px 100px 20px 100px; */
}
/* añadir background-color a cada caja */
.title_section{
    background-color: black;
    color: white;
    text-align: center;
    font-family: cursive;
    position: relative;
    bottom: 1530px;
}
article {
    background-color: red;
    position: absolute;
    top: 1200;
    left: 299;
}
.article_events{ /* index */
    background-color: red;
    position: relative;
    top: 1200;
    left: 299;
    z-index: 1;
    font-family: cursive;
}
.article_about{

}
.article_contact{

}
/* imagenes */
.img_logo{
    background-color: azure;
    display: inline-block;
    width: 120px;
    object-fit: contain;
    position: relative;
    top: 220px;
    left: 1100px;
    z-index: 1;
}
 .img_content{
    visibility: hidden;
 /*    display: inline-block;
    padding: 10px;
    width: 900px;
    height: 600px;
    object-fit: contain;
    opacity: 0.5;
    position: relative;
    left: 300px;
    z-index: 1; */
}