*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fuentes, contenido */
nav{

}
nav a{

}
.title_main{
    
}
.title_section{

}
article{
    
}
.article_events{ /* index */

}
.article_about{

}
.article_contact{

}
/* imagenes */
.img_logo{

}
.img_content{

}