*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
/* fuentes, contenido */
body{
    background-color: antiquewhite;
    display: inline-block;
    
}
header{
    display: inline-block;
    height: 350px;
    width: 2000px;
    justify-content: center;
/*  background-image: url(../img/design1_image1.jpg);
    width: max-content;
    object-fit: cover;
    background-position: 20%;
    height: 300px;
    border: 10px;
    padding: 10px;
    margin: 20px 100px 20px 50px; */
    
}
nav{
    display: block;
    margin: 0;
    width: fit-content;
    position: relative;
    top: 155px;
    left: 300px;
}
nav a{
    display: block;
    width:fit-content;
    margin-bottom: 60px;
    font-family: cursive;
    font-size: 18px;
    /* text-decoration: none; */
}
.title_header{ /* añado la imagen como fondo del titulo */
    /* text props. */
    display: inline-block;
    justify-content: center;
    top: 20px;
    right: 80px;
    text-align: center;
    font-size: 80px;
    font-family: cursive;
    color: #f1da08;
    -webkit-text-stroke-width: 5px ;
    -webkit-text-stroke-color: brown;
    /* position, imgs, revisar */
    background-image: url(../img/design1_image1.jpg);
    object-fit: cover;
    background-position: 20%;
    width: fit-content;
    height: 300px;
    border: 10px;
    padding: 10px;
    margin: 20px 100px 0px 100px;
}

.title_section{
    background-color: black;
    width: 1155px;
    color: white;
    text-align: center;
    font-family: cursive;
    position: relative;
    bottom: 1460px;
    left: 220px;
    justify-content: center;
    
}
article {
    position: relative;
    left: 500px;
    bottom: 1300px;
    width: fit-content;
    font-family: cursive;
    font-size: 18px;
}

article h3{
    font-style: italic;
}

/* imagenes */
.img_logo{
    display: inline-block;
    width: 120px;
    object-fit: contain;
    position: relative;
    top: 260px;
    left: 1100px;
    z-index: 1;
}
 .img_content{
    visibility: hidden;
 /*    display: inline-block;
    padding: 10px;
    width: 900px;
    height: 600px;
    object-fit: contain;
    opacity: 0.5;
    position: relative;
    left: 300px;
    z-index: 1; */
}